<table>
  <thead>
    <th colspan='2' style='text-align:center; padding-bottom: 5%;'>
      <b>Welcome to the BMI Calculator </b>
    </th>
  </thead>
<form action='/bmi' method='post'>
  <tr>
    <td><label for='weight'> How much do you weigh?</label></td>
    <td><input type='text' id='weight' name='weight' /></td>
  </tr><tr>
    <td><label for='height'> How tall are you? </label></td>
    <td><input type='text' id='height' name='height' /></td>
  </tr><tr>
  <td><label for='metric'>What measurements are you using?</label> </td>
  <td>
    <select name='metric'>
      <option value='lbs'>lbs & inches</option>
      <option value='kgs'>kgs & centimeters</option>
    </select>
  </td>
  </tr><tr>
    <td colspan='2' style='text-align:center;'>
      <br/><input type='submit' value='Submit' />
    </td>
  </tr>
</form>
</table>

<div class='answer'>
  <% if @result %>
    <%= "Your BMI is #{@result.round(1)}" %>
  <% end %>
</div>